---
layout: master
---
<div class='post'>
  <span class='date'>{{page.date | date_to_string}}</span>
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
{% if page.original != false %}
<div class='body'><blockquote>
文章欢迎转载，但转载时请保留本段文字，并置于文章的顶部 <br />
Author: <a href="mailto:derek0883@gmail.com">derek0883@gmail.com</a> <br />
本文原文地址：<a href='{{page.url}}'>http://derek0883.github.io{{ page.url }}</a>
</blockquote>
{% endif %}
</div>
  <div class='body'>{{ content }}</div>
</div>

{% if page.share != false %}{% include add-this.html %} {% endif %}
{% if page.comments == true %}{% include comments.html %}{% endif %}
